.btn_1 {
    margin-top: 10px;
    min-width: 30px;
    height: 30px;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid hsl(0, 0%, 46%);
    background: hsl(0, 0%, 46%);
        &:hover {
            background: #fff;
            color: hsl(0, 0%, 46%)
        }
    
}
