.productos_flex {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 10px;
        &_hijos {    
            margin: 1rem;
            max-width: 20%;
            max-height: 20%;
            text-align: center;
            border:3px solid slategrey;
            border-radius: 10px;
            transition: all 1s;
                &:hover {
                    box-shadow: 0px 10px 10px 0 dimgrey;
            }
        }
}

.mapa__style {
    max-width: 60%;
    justify-self: flex-end;
    grid-area: mapa;
    
}
.contacto {
    display: grid;
    grid-template-areas: "datos datos"
                         "lista mapa";
}
.lista {
    margin-left: 10px;
    padding: 20px;
    list-style: none;
    grid-area: lista;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.datos {
     grid-area: datos;
     text-align: center;
}