.pie_pagina {
    text-align: center;
    color: black;
    margin-top: 20px;
    align-items: center;

}
.pie_pag_redes {
    display: flex;
    justify-content: center;
    bottom: 10px;
    list-style: none;
    font-size: 60px;
    color: black;
    height: auto
}